body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Open Sans", Roboto, sans-serif;
  /* font-size: 16px
  font-style: normal
  font-variant-caps: normal
  font-variant-east-asian: normal
  font-variant-ligatures: normal
  font-variant-numeric: normal
  font-weight: 700 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
